@charset "utf-8";
@import '../../styles/partials/mixin', '../../styles/partials/variables';

.loginWrap {
  @include FlexColumnCenter;
  width: 100%;
  margin: 0 auto;

  .loginTitleBox {
    padding-bottom: 50px;
    font-size: 25px;
    color: $grayscaleD;
    line-height: 150%;
    text-align: center;
  }

  .loginButtonWrap {
    @include FlexColumnCenter;
    width: 100%;
    margin: 50px 0;
    gap: 10px;

    .loginButtonBox {
      @include FlexYCenter;
      width: 100%;

      button {
        @include FlexCenter;
        border: none;
        border-radius: 12px;
        font-size: 16px;
        font-family: RubikRegular;
        letter-spacing: -1px;

        @media #{$media-mobile}, #{$media-tablet} {
          padding: 14px 16px;

          span {
            padding-left: 93px;
            padding-right: 93px;
          }
        }

        @media #{$media-web} {
          padding: 16px 20px;

          span {
            padding-left: 93px;
            padding-right: 93px;
          }
        }
      }

      .kakao {
        background-color: #fee500;
        color: #191919;
      }

      .naver {
        background-color: #03c75a;
        color: $grayscaleA;
      }
    }
  }
}
