@charset "utf-8";
@import '../../styles/partials/mixin.scss', '../../styles/partials/variables';

.radioLabel {
  display: flex;
  position: relative;
  cursor: pointer;
  .radioContext {
    font-size: 14px;
  }

  .radioInput {
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;

    & + span::before {
      content: '';
      display: inline-block;
      width: 17px;
      height: 17px;
      border: 1px solid $grayscaleH;
      margin-right: 2px;
      border-radius: 50%;
      vertical-align: sub;
    }

    &:checked + span::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: $grayscaleH;
    }
  }
}
