@charset 'utf-8';
@import '../../../../styles/partials/mixin.scss', '../../../../styles/partials/variables';

.feedSection {
  @include FlexCenter;
  flex-direction: row;
  background-color: $tertiaryColor;
  flex-grow: 3;
}

