@charset 'utf-8';
@import '../../../../styles/partials/mixin.scss', '../../../../styles/partials/variables';

.feedSection {
  @include FlexCenter;
  width: 100%;
  flex-direction: column;
  flex-grow: 3;

  .feedSectionFooter {
    width: 100%;
    padding: 1px;
  }
}

