@charset "utf-8";
//메인 색상 4가지 입니다.
$primaryColor: #3498db;
$secondaryColor: #e74c3c;
$tertiaryColor: #27ae60;
//회색조 색상 입니다.
$grayscaleA: #fff;
$grayscaleB: #fbf5f0;
$grayscaleC: #bebebe;
$grayscaleD: #6b6b6b;
$grayscaleE: #535353;
$grayscaleF: #212121;
$grayscaleG: #1b1b1b;
$grayscaleH: #000;
//폰트 패밀리 글씨체를 정의합니다.
$RubikRegular: RubikRegular;
