@charset 'utf-8';
@import '../../styles/partials/mixin', '../../styles/partials/variables'; //변수스타일 , 믹스인 스타일을  꼭 import 해야 사용가능합니다.

.feedWrap {
  width: 100%;

  .postCreationBox {
    padding: 5px 16px;
  }

  article {
    margin: 10px 0;

    .feedTop {
      @include FlexXCenter;
      width: 100%;
      justify-content: space-between;
      padding: 8px 16px;

      .topLeft {
        @include FlexXCenter;

        .feedProfile {
          width: 34px;
          height: 34px;

          img {
            width: 100%;
            border-radius: 100%;
          }
        }

        .nickBox {
          display: flex;
          flex-direction: column;
          margin-left: 8px;
          gap: 5px;

          .feedDate {
            color: $grayscaleC;
          }
        }
      }

      .topRight {
        display: flex;
        justify-content: flex-end;
        gap: 5px;
      }
    }

    .feedMid {
      width: 100%;
    }

    .feedBtm {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 10px 16px;

      .feedIconWrap {
        @include FlexXCenter;
        justify-content: space-between;
        margin: 8px 0;

        .feedIconLeft {
          display: flex;
        }
      }

      .feedContentWrap {
        display: inline;
        margin-top: 5px;

        .feedUser {
          display: inline;
          margin-right: 5px;
        }

        .feedContentBox {
          display: inline;
          width: 100%;
          vertical-align: top;
          margin-right: 5px;

          .feedContent {
            line-height: 120%;
            word-break: keep-all;
          }

          .more {
            cursor: pointer;
            color: $grayscaleC;
            margin-left: 5px;
          }
        }
      }

      .commentCount {
        margin: 5px 0;
        color: $grayscaleC;
      }

      .commentBox {
        margin: 5px 3px;
      }
    }
  }
}
