@charset 'utf-8';
@import '../../styles/partials/mixin.scss', '../../styles/partials/variables';

.globalTopBtn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
  background-image: url('../../svg/Global/topArrow.svg');
  color: black;
}
