@charset "utf-8";
@import '../../styles/partials/mixin.scss', '../../styles/partials/variables';

.footer {
  width: 100%;
  font-family: RubikRegular;

  .webFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 20px 0;
  }

  .deviceFooter {
    display: flex;
    justify-content: space-around;

    .footerIconWrap {
      display: flex;
      flex-direction: column;
      align-items: center;

      .iconText {
        font-size: 10px;
      }
    }
  }

  @media #{$media-mobile} {
    padding: 10px 0;

    .webFooter {
      display: none;
    }
  }

  @media #{$media-tablet} {
    padding: 15px 0;

    .webFooter {
      display: none;
    }
  }

  @media #{$media-web} {
    background-color: $tertiaryColor;

    .deviceFooter {
      display: none;
    }
  }
}
