@charset 'utf-8';
@import '../../../../styles/partials/mixin.scss', '../../../../styles/partials/variables';

.imageTile {
  @include FlexCenter;
  flex: 1 1 0px;
  padding: 1px;
  aspect-ratio: 1 / 1;
  img {
    object-fit: cover;
  }

  .gap {
    margin-right: 20px;
    :last-child {
      margin-right: 0;
    }
  }
  
}

