@charset 'utf-8';
@import '../../../../styles/partials/mixin.scss', '../../../../styles/partials/variables';

.buttonsWrap {
  @include FlexCenter;
  flex-direction: row;
}

.instruction {
  padding-bottom: 10px;
}

.buttonWrap {
  @include FlexCenter;
  width: 70px;
  padding: 0 10px;
}