@charset 'utf-8';
@import '../../styles/partials/mixin.scss', '../../styles/partials/variables'; 

.iconButtonWrapper {
  @include FlexCenter;
  width: 40px;
  
  &.sm {
    width: 35px;
  }

  &.md {
    width: 40px;
  }

  &.lg {
    width: 45px;
  }

  &.xlg {
    width: 50px
  }
}

.iconButton {
  @include FlexCenter;
  background-color: transparent;
  border: none;
  width: 100%;
  
  path {
    stroke: $grayscaleF;
  }

  &.primary {
    path {
      stroke: $primaryColor;
    }
  }

  &.secondary {
    path {
      stroke: $secondaryColor;
    }
  }

  &.tertiary {
    path {
      stroke: $tertiaryColor;
    }
  }

  // TODO: variables에 추가되면 주석 해제
  // &.quaternary {
  //   path {
  //     stroke: $quaternaryColor;
  //   }
  // }

  &.light {
    path {
      stroke: $grayscaleB;
    }
  }

  &.dark {
    path {
      stroke: $grayscaleF;
    }
  }

  &.gray {
    path {
      stroke: $grayscaleC;
    }
  }
}
