@charset 'utf-8';
@import '../../styles/partials/mixin.scss', '../../styles/partials/variables'; 

button.iconButton {
  @include FlexCenter;
  background-color: transparent;
  border: none;
  fill: $grayscaleF;

  .icon {
    width: 28px;
  }


  &.primary {
    fill: $primaryColor;
  }

  &.secondary {
    fill: $secondaryColor;
  }

  &.tertiary {
    fill: $tertiaryColor;
  }

  &.light {
    fill: $grayscaleB;
  }

  &.dark {
    fill: $grayscaleF;
  }

  &.gray {
    fill: $grayscaleC;
  }

  @media #{$media-mobile} {
    .icon {
      width: 28px;
    }
  }

  @media #{$media-tablet} {
    .icon {
      width: 35px;
    }
  }

  @media #{$media-web} {
    .icon {
      width: 42px;
    }
  }


}
