@charset "utf-8";
@import '../../../styles/partials/mixin.scss',
  '../../../styles/partials/variables';

.chipWrap {
  margin-bottom: 5px;

  .chipInput {
    display: none;

    &:checked + label {
      background-color: $grayscaleH;
      color: $grayscaleA;
    }
  }

  & label {
    display: inline-block;
    padding: 6px 10px;
    background-color: $grayscaleA;
    border: 1px solid $grayscaleH;
    border-radius: 20px;
    color: $grayscaleH;
    cursor: pointer;

    &:hover {
      background-color: $grayscaleH;
      color: $grayscaleA;
    }
  }
}
